body {
    /*font-family: "Helvetica", sans-serif;*/
    /*font-size: 14px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 60%;*/
    background-image: url(../../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%
}

#site-header {
    width: 1080px;
    margin: 0 auto;
    position: inherit;
}

#site-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 35px;
    overflow: visible;
    position: inherit;
    background-color: #ffffff;
    border-bottom: 5px solid #828282;
}

.menu_item, .dropdown {
    float: left;
    border-right: 3px solid #828282;
}

.menu_item a, .dropbtn{
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #828282;
}

.menu_item a:hover, .dropdown-content a:hover{
    background-color: #828282
}

#main-window {
    background-color: white;
    padding: 0;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    width: 1080px;
    z-index: -1;
}

table {
    margin-left: 0px;
}